<div class="container mt-5">
  <form>
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        name="passwordOption1"
        id="option1"
        [(ngModel)]="option"
        value="new"
      />
      <label class="form-check-label" for="option1">New Password</label>
    </div>
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        name="passwordOption1"
        id="option2"
        [(ngModel)]="option"
        value="forgotten"
      />
      <label class="form-check-label" for="option2">Forgotten Password</label>
    </div>
  </form>

  <div *ngIf="option == 'new'" class="mt-4">
    <h2>New password</h2>
    <div class="mb-3">
      <label for="oldPassword" class="form-label">Current password</label>
      <input
        type="password"
        class="form-control"
        name="oldPassword"
        id="oldPassword"
        [(ngModel)]="oldPassword"
      />
    </div>
    <div class="mb-3">
      <label for="newPassword" class="form-label">New password</label>
      <input
        type="password"
        class="form-control"
        name="newPassword"
        id="newPassword"
        [(ngModel)]="newPassword"
      />
    </div>
    <div class="mb-3">
      <label for="newPasswordRepeat" class="form-label"
        >Repeat new password</label
      >
      <input
        type="password"
        class="form-control"
        name="newPasswordRepeat"
        id="newPasswordRepeat"
        [(ngModel)]="newPasswordRepeat"
      />
    </div>
    <h4>{{ error }}</h4>
    <button class="btn btn-primary" (click)="newPasswordSubmit()">
      Submit
    </button>
  </div>

  <div *ngIf="option == 'forgotten'" class="mt-4">
    <h2>Forgotten password</h2>
    <div *ngIf="step1" class="mb-3">
      <h3>Safety Question:</h3>
      <h4>{{ user.safetyQuestion }}</h4>
      <label for="answer" class="form-label">Answer</label>
      <input
        type="text"
        class="form-control"
        name="answer"
        id="answer"
        [(ngModel)]="answer"
      />
      <p>{{ error }}</p>
      <button class="btn btn-primary" (click)="safetyAnswer()">Submit</button>
    </div>
    <div *ngIf="step2" class="mb-3">
      <label for="newPassword" class="form-label">New password</label>
      <input
        type="password"
        class="form-control"
        name="newPassword"
        id="newPassword"
        [(ngModel)]="brandnewPassword"
      />
      <label for="newPasswordRepeat" class="form-label"
        >Repeat new password</label
      >
      <input
        type="password"
        class="form-control"
        name="newPasswordRepeat"
        id="newPasswordRepeat"
        [(ngModel)]="brandnewPasswordRepeat"
      />
      <p>{{ error }}</p>
      <button class="btn btn-primary" (click)="brandNewPassword()">
        Submit
      </button>
    </div>
  </div>
</div>
